# Zomato Restaurant Clustering And Sentiment Analysis project
**By : Md Ismail Quraishi**

### Problem Statement :
The company wants to know what kind of product should be recommend to the different types of customers so that the company can target them for better profits.

### Objectives :
1. Firstly I will perform EDA on both the dataset to understand the datasets and get insights.
2. Preprocessing the data
3. Data transformation from words to tags
4. Calculation of cosine similarity
5. build a recommendation system.

## Let's Begin

### Know your data

In [1]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import commonFunctions as cf
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load the datasets
path_names = './preprocessed_data/eda_names.csv'
path_reviews ='./preprocessed_data/enough_interaction.csv'
names = pd.read_csv(path_names)
interaction = pd.read_csv(path_reviews)

In [3]:
names.head(3)

,Unnamed: 0,Name,Cost,Cuisines,tags
0,0,Beyond Flavours,800,"Chinese, Continental, Kebab, European, South I...","Beyond Flavours 800 Chinese, Continental, Keba..."
1,1,Paradise,800,"Biryani, North Indian, Chinese","Paradise 800 Biryani, North Indian, Chinese"
2,2,Flechazo,"1,300","Asian, Mediterranean, North Indian, Desserts","Flechazo 1,300 Asian, Mediterranean, North Ind..."

In [4]:
interaction.head(3)

   Unnamed: 0       Restaurant               Reviewer  Rating
0          73  Beyond Flavours  Saswati Kar Choudhury     3.0
1          99  Beyond Flavours                 Aditya     4.0
2         160         Paradise                Sravani     5.0

In [5]:
# Drop unnamed columns
names.drop('Unnamed: 0',axis=1, inplace=True)
interaction.drop('Unnamed: 0',axis=1, inplace=True)
names.rename(columns={'Name':'Restaurant'}, inplace=True) # Rename the column so that datasets can be merged easily
merged_df = pd.merge(interaction, names, on='Restaurant') # Data merging

In [6]:
print('# of duplicated rows : ',merged_df.duplicated().sum())
merged_df.drop_duplicates(inplace=True) # Drop duplicated rows

# of duplicated rows :  5

In [7]:
cf.showInfo(merged_df) # This funciton is defined inside commonFunctions module

shape :  (935, 6)

# of duplicated rows :  0

# of unique values in each column :
Restaurant    100
Reviewer      147
Rating          8
Cost           28
Cuisines       89
tags          100
dtype: int64

# of missing/nan values in each column :
Restaurant    0
Reviewer      0
Rating        0
Cost          0
Cuisines      0
tags          0
dtype: int64

Calling info method :
<class 'pandas.core.frame.DataFrame'>
Index: 935 entries, 0 to 939
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  935 non-null    object
 1   Reviewer    935 non-null    object
 2   Rating      935 non-null    float64
 3   Cost        935 non-null    object
 4   Cuisines    935 non-null    object
 5   tags        935 non-null    object
dtypes: float64(1), object(5)
memory usage: 51.1+ KB
None

### Preprocessing

In [8]:
# User based calcuclation
user_based_pivot = interaction.pivot_table(index='Reviewer', columns='Restaurant', values='Rating').fillna(0) # Pivot table
similarity_score_for_people = cosine_similarity(user_based_pivot) # similarity score calculation
print('user similarity shape',similarity_score_for_people.shape)

user similarity shape (147, 147)

In [9]:
user_based_pivot.head(3)

Restaurant,10 Downing Street,13 Dhaba,"3B's - Buddies, Bar & Barbecue",AB's - Absolute Barbecues,Absolute Sizzlers,Al Saba Restaurant,American Wild Wings,Amul,Arena Eleven,Aromas@11SIX,...,The Tilt Bar Republic,Tiki Shack,Triptify,Udipi's Upahar,Ulavacharu,Urban Asia - Kitchen & Bar,Yum Yum Tree - The Arabian Food Court,Zega - Sheraton Hyderabad Hotel,Zing's Northeast Kitchen,eat.fit
Reviewer,,,,,,,,,,,,,,,,,,,,,
AJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
Aamir Nawaz,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
Aanchal Khemka,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Building recomendation system
def similar_user_recommendation(user_name, top_n):
    index = user_based_pivot.index.get_loc(user_name)
    similar_people = sorted(list(enumerate(similarity_score_for_people[index])),key=lambda x:x[1],reverse=True)[1:top_n+1]
    recommendations = []
    for i in similar_people:
        recommendations.append(user_based_pivot.index[i[0]])
    return recommendations

In [11]:
similar_user_recommendation('AJ',10) # Making prediction

['Prachita Jayaswal',
 'The Foodie Bookworm',
 'Rahul Gupta',
 'Subhashree Dey',
 'Charushila Biswas',
 'Shreshth Malhotra',
 'Raj Rohit',
 'Sree Leela',
 'Avin Seth',
 'Surya']